// GLOBAL
$font-title: "Montserrat", sans-serif;
$font-subtitle: "Droid-serif", serif;
$font-text: "Roboto Slab", serif;

$background-color: #f7f7f7;
$color-subtitle: #777777;
$social-media-color: #222222;

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	padding: 3.5rem 2.5rem;
}

h1,
h3 {
	font-family: $font-title;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-family: $font-subtitle;
	text-align: center;
}

h4 {
	font-family: $font-title;
	font-weight: 700;
	text-align: center;
	font-size: 13px;
}

.section-title {
	font-size: 35px;
	letter-spacing: -1px;
}

.section-subtitle {
	font-size: 14px;
	font-style: italic;
	color: $color-subtitle;
	margin-bottom: 30px;
}

.row {
	justify-content: space-between;
	padding: 0;
	margin: 30px auto;
}

.card {
	width: 30%;
	justify-content: center;
	margin-bottom: 3rem;
	border: none;
}

// HEADER
header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background-image {
	position: relative;
	width: 100%;
	object-fit: cover;
	justify-content: center;
}

// NAVIGATION

.navbar {
	position: absolute;
	top: 0;
}

.navbar .container {
	width: 100vw;
	padding-top: 0;
}

.bg-light {
	--bs-bg-opacity: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.nav-link {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-family: $font-title;
}

.navbar-collapse {
	text-align: right;
	font-size: 14px;
	line-height: 7px;
}

// WELCOME HEADER

.welcome {
	position: absolute;
	text-align: center;
	color: white;
}

.welcome h2 {
	font-size: 3.2vw;
	font-style: italic;
	letter-spacing: -1px;
	text-shadow: 0px 0px 21px rgba(26, 26, 29, 1);
}

.welcome h1 {
	text-transform: uppercase;
	font-size: 5.5vw;
	letter-spacing: -1.88px;
	text-shadow: 0px 0px 21px rgba(26, 26, 29, 1);
}

.btn-welcome {
	font-family: $font-title;
	font-size: 2.3vw;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #fed136;
	border-color: #fed136;
	width: auto;
	padding: 8px 20px;
}

// SERVICES

.services-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icon-border {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #fed136;
	border-radius: 50%;
	margin: 0 auto;
}

.icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-text {
	font-family: $font-text;
	color: $color-subtitle;
	font-size: 12px;
	letter-spacing: -0.2px;
	text-align: center;
}

// PORTFOLIO

.portfolio-section {
	background-color: $background-color;
}

.portfolio-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio h4 {
	padding-top: 1.3rem;
	margin-bottom: 0.2rem;
	font-size: 15px;
	letter-spacing: -0.45px;
}

.portfolio h2 {
	font-size: 13px;
	font-style: italic;
	color: $color-subtitle;
	padding-bottom: 1.3rem;
}

.portfolio-image img {
	width: 100%;
}

// FOOTER

footer .col-md-4 {
	width: 30%;
}

.footer-copyrights {
	color: $color-subtitle;
	font-family: $font-title;
	font-size: 14px;
	letter-spacing: -0.35px;
}

.social-media-list {
	display: inline-flex;
	list-style: none;
	justify-content: center;
	padding: 0
}

.social-media-icon {
	width: 40px;
	height: 40px;
	border: 1px solid $social-media-color;
	background-color: $social-media-color;
	border-radius: 50%;
	margin: 0 0.4rem;
	position: relative;
}

.fa-brands {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// RWD

@media (max-width: 767px) {
	.portfolio-items .card {
		width: 45%;
	}

	.services-items .card {
		width: 100%;
	}

	footer .col-md-4 {
		width: 100%;
	}

	.footer-copyrights {
		margin: auto;
		padding-bottom: 1rem;
	}
}

@media (max-width: 539px) {
	.portfolio-items .card {
		width: 100%;
	}

	.services-items .card {
		width: 100%;
	}
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Slab', serif;

// Droid Serif Regular
// font-family: droid-serif, serif;
// font-weight: 400;
// font-style: normal;

// Droid Serif Bold
// font-family: droid-serif, serif;
// font-weight: 700;
// font-style: normal;

// Droid Serif Italic
// font-family: droid-serif, serif;
// font-weight: 400;
// font-style: italic;

// Droid Serif Bold Italic
// font-family: droid-serif, serif;
// font-weight: 700;
// font-style: italic;
