// GLOBAL
$font-title: "Montserrat", sans-serif;
$font-subtitle: "Droid-serif", serif;
$font-text: "Roboto Slab", serif;

.container {
	margin: 20px auto;
}

// HEADER

header img {
	max-width: 100%;
}

// NAVIGATION

nav {
	position: relative;
}

.navbar-nav {
	position: absolute;
	right: 0;
	margin-top: 20px;
}

.nav-link {
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	outline: none;
	font-family: $font-title;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Slab', serif;

// Droid Serif Regular
// font-family: droid-serif, serif;
// font-weight: 400;
// font-style: normal;

// Droid Serif Bold
// font-family: droid-serif, serif;
// font-weight: 700;
// font-style: normal;

// Droid Serif Italic
// font-family: droid-serif, serif;
// font-weight: 400;
// font-style: italic;

// Droid Serif Bold Italic
// font-family: droid-serif, serif;
// font-weight: 700;
// font-style: italic;
